:root {
    --primary: #0F7173;
    --secondary: #1f2d33;
    --dangerRed: #CC2936;
    --evenWidth: 90%;
}

.navbar {
    height: 10%;
    width: 100%;
    background-color: var(--secondary);
}

.root-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-main-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.page-header-container {
    height: 5rem;
    width: var(--evenWidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar-container {
    background-color: #eeeeee;
    height: 2.5rem;
    width: 80%;
    border-radius: 1rem;
}

.notification-icon-container {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
}

.category-swipe-container {
    height: 8rem;
    width: var(--evenWidth);
    background-color: #eeeeee;
}

.promotional-container {
    height: 7rem;
    width: var(--evenWidth);
    background-color: var(--primary);
    border-radius: 1rem;
}

.for-you-skill-section {
    height: 50%;
    width: var(--evenWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.for-you-header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for-you-title-container {
    height: 80%;
    width: 5rem;
    background-color: #1f2d33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.for-you-title {
    font-size: 100%;
    font-weight: 500;
    color: white;
}

.for-you-body {
    height: 85%;
    width: 100%;
    background-color: #eeeeee;
}

.view-all-container {
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 4rem;
    color: #8f8f8f;
    cursor: pointer;
}

.view-all-arrow {
    font-size: 200%;
    font-weight: 300;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~ Login Page ~~~~~~~~~~~~~~~~~~~~~~~~ */

.login-main-container,
.signup-main-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(19deg, #1f2d33, #0F7173);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-header,
.signup-header {
    height: 30%;
    width: var(--evenWidth);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-logo-container,
.signup-logo-container {
    height: 4rem;
    width: 4rem;
}

.login-header-title,
.signup-header-title {
    color: white;
    font-size: 230%;
    font-weight: 600;
    text-align: center;
}

.login-header-subtext,
.signup-header-subtext {
    color: white;
    text-align: center;
    font-size: 80%;
}

.login-form,
.signup-form {
    height: 25rem;
    border-radius: 1rem;
    width: var(--evenWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.login-input-line,
.signup-input-line {
    height: 4rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.login-input,
.signup-input {
    height: 60%;
    width: 100%;
    border: 1px solid #e0e0e0;
    padding-left: 1rem;
    border-radius: .75rem;
    font-family: 'Poppins';
    font-size: 110%;
}

.login-input:focus,
.signup-input:focus {
    outline: none;
}

.login-selections-container {
    height: 3rem;
    width: 85%;
    display: flex;
    align-items: center;
}

.remember-me-container {
    display: flex;
    font-size: 80%;
    align-items: center;
    color: var(--secondary);
}

.login-btn,
.signup-btn {
    height: 3rem;
    width: 85%;
    border: none;
    background: linear-gradient(19deg, #0f6869, #13898b);
    color: white;
    font-size: 110%;
    font-weight: 400;
    font-family: 'Poppins';
    border-radius: .75rem;
    margin-bottom: 2rem;
}

.login-signup-subtext {
    font-size: 80%;
    color: #8f8f8f;
}

.signup-link {
    color: var(--primary);
}

/* ~~~~~~~~~~~~~~~~~~~~~~Profile~~~~~~~~~~~~~~~~~~~~~~~ */

.profile-header {
    height: 5%;
    width: var(--evenWidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-arrow-container {
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-backarrow {
    height: 70%;
}

.profile-title-container {
    width: 5rem;
    height: 100%;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--secondary);
}

.settings-icon-container {
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settings-icon {
    height: 70%;
}

.profile-user-info-container {
    height: 23%;
    width: var(--evenWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-img-border {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background: linear-gradient(19deg, #0f6869, #13898b);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.profile-img-container {

    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    height: 70%;
}

.profile-name {
    text-align: center;
    font-size: 130%;
    font-weight: 500;
    color: var(--secondary);
}

.profile-location {
    text-align: center;
    font-size: 90%;
    font-weight: 300;
    color: #b1b0b0;
}

.profile-social-info-container {
    height: 10%;
    width: var(--evenWidth);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.profile-ratings-container {
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    font-weight: 400;
    color: var(--secondary);
    margin-right: 2rem;
}

.rating-star-icon {
    height: 25%;
}

.profile-friends-container {
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    color: var(--secondary);
}

.profile-user-skills-container {
    height: 50%;
    width: var(--evenWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-skill-line {
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #f7f7f7;
}

.user-skills-div-bar {
    height: 2px;
    width: 100%;
    margin-top: .2rem;
    margin-bottom: .2rem;
}